.Mmol {
  x: 5;
  y: 100%-125;
  font-size: 120;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

.MmolLastUpdated {
  x: 10;
  y: 100%-95;
  font-size: 25;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

.MmolTrend {
  x: 10;
  y: 100%-100;
  font-size: 15;
  font-family: Tungsten-Medium;
  fill: white;
  text-length: 64;
}

.Steps {
  x: 215;
  y: 100%-175;
  width: 100;
  height: 64;
}

.HeartRate {
  x: 215;
  y: 100%-60;
  width: 100;
  height: 64;
}

.Icon {
  height: 32;
  width: 32;
  x: -15%;
  y: 22;
}

.BatteryIcon {
  height: 40;
  width: 40;
}

.ArrowIcon {
  height: 25;
  width: 30;
  x: 95;
  y: 100%-115;
}

.tile-list-item {
  height: 70;
  x: 215;
  text-length: 64;
}

.tile-list-item text {
  height: 30;
  font-family: Tungsten-Medium;
  font-size: 40;
  fill: white;
  text-length: 64;
}
